/* -------------- START of CUSTOM STYLING -------------- */
.header-area, .outlined, .second-font-original {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.second-font-light {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
  
.second-font-size {
    font-size: 20px;
}

.third-font-size {
    font-size: 16px;
}

.color-green {
    color: #01525D;
}

.nav-custom {
        color: #01525D;
}

.nav-custom:hover {
color: #dcb14a !important;
}

.jumbotron-img {
    background-color: #FCF7ED;
    background-image: url("../images/home/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 600px;
}

.outlined {
    border: 1px solid #01525D !important;
    color: #01525D;
    padding-left: 40px;
    padding-right: 40px;
}

.custom-icon-size {
    font-size: 60px;
}
  
/* -------------- END of CUSTOM STYLING -------------- */